mat-card{
    width: 60%;
    margin: 0 auto;

    padding: 100px 0px;

    form{
        width: 60%;
        margin: 0 auto;

      mat-form-field{
        width: 100%;
      }
    }
}

/**
for error message
 */
.invalid-feedback{
  margin: -20px 0px 20px 5px;
  color: red;
  font-size: 12px;
}
