.container{
    padding: 0px 200px;
    padding-bottom: 50px;
    border-bottom: 1px solid black ;
}
#post-container{
    width: 100%;
    display: flex;
}

.post{
    box-shadow: none;
    width: 30%;
}

.published_time{
  font-size: 12px;
  margin-top: -15px;
}
